* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Suisse Int'l";
}

#cursor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #edbfff;
  position: fixed;
  transition: all ease-in-out;
  z-index: 10;
  mix-blend-mode: difference;
}

#main {
  background-color: #0f0d0d;
  color: white;
}

#page1 {
  min-height: 110vh;
  width: 100%;
  color: white;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

#navLinks {
  display: flex;
  align-items: center;
  gap: 5px;
}

#navLinks li {
  list-style: none;
  font-size: 14px;
}

#navLinks li:nth-child(1) {
  text-decoration: underline;
}

#circle {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
}

#page1Content {
  text-align: center;
  margin-top: 20vh !important;
  padding-bottom: 5vh;
}

#page1Content h1 {
  line-height: 1;
  font-size: 7vw;
  font-weight: 400;
}

#page1Content p {
  max-width: 27rem;
  margin: 3vh auto;
}

#videoContainer {
  margin-top: 20vh;
  padding-bottom: 10vh;
  display: flex;
  justify-content: center;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  padding-top: 10vh;
  border-bottom: 1px solid;
}

#innerContent2 {
  padding-left: 10vw;
}

#upper2 {
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 74%;
  font-size: 2vw;
}

#upper2 h2 span {
  font-size: 18px;
}

#page2Info {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#page2Right-content {
  width: 55%;
}

#page2Right-content img {
  width: 85%;
}

#page2Left-content {
  width: 35%;
}

.page2-info {
  border-top: 1px solid white;
  width: 100%;
  padding: 20px 0;
}

.page2-info-last {
  border-top: 1px solid white;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid;
}

.page2-info h3 {
  font-size: 1.5vw;
}

.page2-info p {
  max-width: 32rem;
  margin-top: 0.7vh;
}

.page2-info-last h3 {
  font-size: 1.5vw;
}

.page2-info-last p {
  max-width: 32rem;
  margin-top: 0.7vh;
}

#page3 {
  min-height: 100vh;
}

#page3 h2:nth-child(1) {
  padding: 10vh 0;
  font-size: 6vw;
  font-weight: 400;
  padding-left: 10vw;
}

#featuredWork1 {
  padding-left: 10vw;
  padding: 10vh 5vw 10vw 10vw;
  display: flex;
  justify-content: space-between;
}

#workImage {
  width: 30%;
}

#workImage img {
  width: 27vw;
  height: 56.1vh;
  object-fit: cover;
}

#workImage h6 {
  font-size: 1.5vw;
}

#workVideo {
  margin-top: -23%;
}

#workVideo video {
  height: 56.1vh;
  width: 27vw;
  object-fit: cover;
}

#workVideo h6 {
  font-size: 1.5vw;
}

#featuredWork2 {
  padding-left: 10vw;
  padding: 10vh 10vw 10vw 15vw;
  display: flex;
  justify-content: space-between;
}

#workImage2 {
  width: 30%;
}

#workImage2 img {
  width: 27vw;
  height: 56.1vh;
  object-fit: cover;
}

#workImage2 h6 {
  font-size: 1.5vw;
}

#workImage2 {
  margin-top: -23%;
}

#workVideo2 video {
  height: 56.1vh;
  width: 27vw;
  object-fit: cover;
}

#workVideo2 h6 {
  font-size: 1.5vw;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  z-index: 9;
  position: relative;
  padding: 170px 100px;
}
.elem {
  /* background-color: salmon; */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.elem img {
  position: absolute;
  opacity: 0;
  transition: all ease-out 0.5s;
  transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1) {
  left: 2%;
}
.elem img:nth-child(3) {
  right: 5%;
}
.text-div {
  height: 16vh;
  position: relative;
  z-index: 9;
  overflow: hidden;
}
.elem h1 {
  font-size: 7.5vw;
  font-weight: 600;
  transition: all ease-out 0.5s;
}

.elem:hover h1 {
  transform: translateY(-100%);
  color: #edbfff;
}
.elem:hover img {
  opacity: 1;
  transform: translateY(0%) rotate(0deg);
}
